#root {
  position: relative;
  width: 100%;
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
}

.loading-wrapper {
  text-align: center;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading span {
  padding: 2rem 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media screen and (max-height: 549px) {
  .App {
    transform: translate(-50%, -43%);
  }
  .cell {
    font-size: 0.8em;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
