form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

form .form-utils {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

#submit {
  border-color: #fda2d5;
  transition: all 0.25s;
}

form button#shuffle,
#win button,
#loss button {
  border-color: #ffac4b;
}

form button#finish {
  border-color: #ffac4b;
}

button.finish {
  background-color: #ffac4b;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

form button:hover {
  border-color: #fda2d5;
}

.words-wrapper {
  width: 290px;
  overflow: auto;
}

.wrapper .word-found,
.wrapper .word-not-found {
  font-size: 1rem;
  text-align: center;
  text-align: center;
  margin: 0.5rem;
}

.wrapper .word-found {
  background-color: rgb(0, 255, 81, 0.7);
}

.wrapper .word-not-found {
  background-color: rgb(255, 0, 0, 0.7);
}

.timber-row {
  display: flex;
}

.cell {
  box-sizing: border-box;
  border: solid #12fcd4;
  box-shadow: 5px 5px 0px -3px rgb(122, 87, 0);
  color: #fff;
  margin: 4px;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.cell.active {
  background-color: rgb(0, 255, 81);
  color: #000;
  box-shadow: none;
}

.cell.belongsToPath {
  background-color: rgb(255, 204, 0);
}

.cell.oneCellIsland {
  background-color: #fda2d5;
  opacity: 0.5;
  color: #0005;
}
